* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  font: 1em sans-serif;
}

.App {
  width: 800px;
  padding: 20px 0;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid teal;
  border-radius: 4px;
  color: #555555;
}

.post__title {
  margin-bottom: 10px;
  color: #000000;
  }
